* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

.head {
    grid-area: head;
}

.left {
    grid-area: l;
}

.right {
    grid-area: r;
}

.foot1 {
    grid-area: f1;
}

.foot2 {
    grid-area: f2;
}

#graid {
    display: grid;
    grid-gap: 0px;
    grid-template-areas: "head head head head" "l r r r" "l r r r" "f1 f1 f1 f1""f2 f2 f2 f2";
    width: 100%;
    height: 100%;
}

#graid>* {
    display: grid;
    width: 100%;
    height: 100%;
    border: 0.5px dashed lightgray;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 100px;
    padding: 0px;
}

#chart {
    height: 100%;
}

#chart1 {
    height: 100vh;
}

.state {
    stroke: white;
    stroke-width: 1;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    line-height: 16pt;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    pointer-events: none;
}